
@layer utilities {
  @keyframes pop {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    70% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes gradient-text {
    0% { 
      background-position: 0% 50%;
      background-image: linear-gradient(45deg, #FEF7CD, #8c52ff, #1EAEDB);
    }
    30% { 
      background-position: 100% 50%;
      background-image: linear-gradient(45deg, #1EAEDB, #8c52ff, #FEF7CD);
    }
    60% { 
      background-position: 0% 50%;
      background-image: linear-gradient(45deg, #FEF7CD, #8c52ff, #1EAEDB);
    }
    100% { 
      background-position: 0% 50%;
      background-image: linear-gradient(45deg, #FEF7CD, #8c52ff, #1EAEDB);
    }
  }
  
  @keyframes gradient-rotate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
